.cards {
    .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: start;
        align-items: center;
        gap: 50px;

        margin-top: 50px;
    }

    a {
        position: relative;
        height: 100%;
        color: var(--color-primary);

        &:hover {
            color: var(--color-white);
        }

        .card_media {
            overflow: hidden;
            width: 100%;
        }

        .card_content {
            position: absolute;
            top: 80%;
            left: 0;
            z-index: 1;
            padding: 20px;
        }
    }

    img {
        object-fit: cover;
        width: 100%;
    }
}
