header {
    .wrapper {
        display: flex;
        justify-content: space-between;

        ul {
            display: flex;
            gap: 20px;
            li {
                list-style: none;
            }
        }
    }
}
.logo {
    font-family: var(--font-primary);
    text-transform: uppercase;
    font-size: var(--font-size-h3);
}
