/* ==========================================================================
   LINKS / ELEMENTS
   Style de base de tous les liens et bouton du site
   ========================================================================== */

a {
    color: var(--color-primary);
    text-decoration: none;

    &:hover {
        color: var(--color-white);
    }
}

.btn {
    font-size: var(--font-size-bouton);
    color: var(--color-primary);
    border: var(--color-primary) solid 3px;
    padding: 10px;

    &:hover {
        color: var(--color-white);
        border-color: var(--color-white);
    }
}
