/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #ffbe7e;
    --color-black: #701b00;

    // Couleurs du projet
    --color-primary: #ff9329;
    --color-bg-primary: #922503;
}
