{% include '_partials/_header.html' %}
<div class="liste-recettes">
    <div class="hero">
        <img src="assets/images/hero02.jpg" alt="" />
        <div class="wrapper">
            <h1>Les recettes</h1>
        </div>
    </div>
    <div class="intro">
        <div class="wrapper">
            <h3>Liberer vos papilles gustative!</h3>
            <p>
                Découvrez une multitude d'idées culinaires, allant des plats traditionnels aux créations modernes,
                parfaites pour toutes les occasions. Chaque recette est soigneusement sélectionnée pour sa simplicité et
                ses saveurs authentiques, vous garantissant un succès à chaque tentative.
            </p>
        </div>
    </div>

    <div class="cards">
        <div class="wrapper">
            <a href=""
                ><div class="card">
                    <div class="card_media"><img src="assets/images/recette01.jpg" alt="" /></div>
                    <div class="card_content">
                        <h4>Plat principale</h4>
                        <h3>Tilapia aux épices</h3>
                    </div>
                </div></a
            >
            <a href=""
                ><div class="card">
                    <div class="card_media"><img src="assets/images/recette02.jpg" alt="" /></div>
                    <div class="card_content">
                        <h4>Plat principale</h4>
                        <h3>Crevette</h3>
                    </div>
                </div></a
            >
            <a href=""
                ><div class="card">
                    <div class="card_media"><img src="assets/images/recette03.jpg" alt="" /></div>
                    <div class="card_content">
                        <h4>Plat principale</h4>
                        <h3>Salade</h3>
                    </div>
                </div></a
            >
            <a href=""
                ><div class="card">
                    <div class="card_media"><img src="assets/images/recette04.jpg" alt="" /></div>
                    <div class="card_content">
                        <h4>Plat principale</h4>
                        <h3>Poulet</h3>
                    </div>
                </div></a
            >
        </div>
    </div>
</div>
{% include '_partials/_footer.html' %}
